# Top level EPICS database template for ADScanPB
# Author: Jakub Wlodek

include "ADBase.template"
include "ADScanPB_Data.template"
include "ADScanPB_Playback.template"
include "ADScanPB_Tiled.template"
include "ADScanPB_Trig.template"
